body{
  background-color: black;
}
h1{
  color: white;
  font-size: 45px;
  font-family: arial;
}
h4{
  color: white;
  font-size: 15px;
  font-family: arial;
}
h2{
  color: white;
  font-family: arial;
  
}
p{
  color: white;
  font-family: arial:
}
ul{
  color: white;
  font-family: arial;
}
div{
  background-color: green;
}
